@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
.chat
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.form-group {
    position: absolute;
    right: 3%;
    bottom: 0px;
    width: 300px;
}
