
<div class="container-fluid">
  <!-- Second navbar for categories -->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <div class="ui secondary pointing menu header">
          <a class="item" [routerLink]="['/home']" routerLinkActive="active">
            <i class="home icon"></i>
          </a>
          <a class="item" [routerLink]="['/gallery']" routerLinkActive="active">Gallery</a>
          <a class="item" [routerLink]="['/survey']" routerLinkActive="active">Survey</a>
          <a class="item" [routerLink]="['/summary']" routerLinkActive="active">Summary</a>
          <a class="item" *ngIf="auth.authenticated()" [routerLink]="['/dashboard']" routerLinkActive="active">My Profile</a>
          <ul *ngIf="auth.authenticated()" class="nav navbar-nav navbar-right">
            <li><a class="btn" (click)="logOut()">Logout</a></li>
          </ul>

        </div>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container -->
  </nav><!-- /.navbar -->

</div>
<router-outlet></router-outlet>

