<div class="ui middle aligned divided list">
  <div class="ui segments">
    <div class="ui segment">
      <h3>Please, select options from dropdowns</h3>
    </div>
    <div class="ui segments">
      <form (ngSubmit)="onSubmit()" [formGroup]="form" class="ui segment">

        <div *ngFor="let question of questions" class="form-row">
          <app-question [question]="question" [form]="form"></app-question>
        </div>

        <div class="ui segment">
          <button class="ui primary button right" type="submit" [disabled]="!form.valid">Save</button>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="payLoad" class="form-row">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>
