.navbar-brand { position: relative; z-index: 2; }

.navbar .navbar-collapse { position: relative; }

.navbar .nav-collapse { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: 0; padding-right: 120px; padding-left: 80px; width: 100%; }
.navbar.navbar-default .nav-collapse { background-color: #f8f8f8; }
.navbar.navbar-inverse .nav-collapse { background-color: #222; }
.navbar .nav-collapse .navbar-form { border-width: 0; box-shadow: none; }
.nav-collapse>a { float: right; }

@media screen and (max-width: 767px) {
    .navbar .navbar-collapse .navbar-right > a:last-child { padding-left: 15px; padding-right: 15px; }

    .navbar .nav-collapse { margin: 7.5px auto; padding: 0; }
    .navbar .nav-collapse .navbar-form { margin: 0; }
    .nav-collapse>a { float: none; }
}

#login{
  position: absolute;
  right: 16px;
  border: green 1px solid;
  background-color: white;
}

#chatcaller {
  position: absolute;
  bottom: 15%;
  right: 3%;
  width: 20px;
}

#chatcaller span {
  font-size: 50px;
  color: #607D8B;
}
