
<div class="ui main text container">
  <h1 class="main header">
    Welcome {{dUsername}}
  </h1>

  <div class="ui vertical segment">
    <h2 class="ui diving header">
      Appointments
    </h2>

    <div *ngIf="hasAppointments">
      <ul *ngFor="let app of appointments">
        <li>{{app}}</li>
      </ul>
    </div>
    <div *ngIf="!hasAppointments">
      No upcoming appointments.
    </div>
    <div>
      <button class="ui button" (click)='openDialogBox($event)'>Request Appointment</button>
      <div dialogAnchor></div>
    </div>
  </div>

  <div *ngIf="hassavedDesigns">
    <h2 class="ui diving header">
    Liked Nail Designs
    </h2>
    <div class="ui grid cards">
      <div class="small card" *ngFor="let nd of savedDesigns | slice:0:4">
        <div class="image">
          <img src="{{nd}}">
        </div>
      </div>
    </div>
  </div>

</div>




