#design {
  width: calc(25% - 4em);
  margin-left: 2em;
  background-color: rgba(0, 0, 0, 0.25);
}

.cards {
  margin: 3em;
}

.form {
  background-color: transparent;
}

.input {
    position: relative;
    left: 35%;
}


#gallery {
  margin-left: 3em;
  margin-right: 3em;
}
