<div id="summary" class="ui text container">
    <h2 class="ui diving header">
      Summary
    </h2>
  <div class="ui vertical segment">
    <p>
      Mostly people getting their manicure done {{qcs.getFrequency()}}.
      <br>
      People {{qcs.getQualityImportance()}} about the quality of the product of their nail polish.
    </p>
  </div>
  <div class="ui vertical segment">
    <h3 class="ui header">Nail Beauty Trends:</h3>
    <p> The most hated color this season: {{qcs.getHatedColor()}}</p>
    <p> The most popular color this season: {{qcs.getBestColor()}}</p>
    <p> The most popular shape of nails this season: {{qcs.getBestShape()}}</p>
    <p> {{qcs.getDesignResult()}} </p>
  </div>

</div>
